*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 20%;
    transition: ease .40s;
}
.logo{
    font-size: 35px;
    font-weight:600;
    letter-spacing: 2px;
    color:var(--bg-color);
}
.navbar{
    display: flex;
}
.navbar a {
    color: black;
    font-size: 20px;
    font-weight: 100px;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}
.navbar a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 10px 20px 30px rgba(85, 85, 85, 0.2);

}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 30px;
    display: flex;
    padding: 110px 10%;
    transition: ease .40s;
    background-color: rgb(249, 9, 209);
}
.home p{
    margin-top: 60px;
    margin-bottom: 30px;
}
.home-name:hover{
    background-color: #fff;
    color: black;
    box-shadow: 10px 20px 30px rgb(85 85 85 / 20%);
    cursor: pointer;
    border-radius: 20px;

}
.home-greet{
    font-weight: 300px;
    font-size: 20px;
}
.home-name{
    font-size: 40px;
    font-weight: 400px;
    font-style: italic;
}
.home-intro{
    font-weight: 300px;
    font-size: 20px;
}

.home-image{
    width:440px; 
    height:480px; 
    border-radius: 15px 45px;
}
.about{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 90px 10%;
    background-color:rgb(13, 156, 212);
}
.about h1{
    margin-bottom: 30px;
}

.about-list{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.skills{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 90px 10%;
    transition: ease .40s;
    text-align: center;
    background-color: rgb(222, 110, 65);
}
.skills h2{
    font-size: 40px;
    font-weight: 400px;
}
.skill-list{
    display: flex;
    padding: 40px 15%;
    text-align: center;
}
.skill-f{
    margin-left: 40px;
    margin-right: 160px;
}
.skills h3{
    font-size: 30px;
    font-weight: 300px;
    margin-bottom: 30px;
}

.skill-index{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 100px;
}
.skill-index:hover{
    background-color: #fff;
    color: black;
    box-shadow: 10px 25px 30px rgba(85, 85, 85, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.projects{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 110px 5%;
    transition: ease .40s;
    text-align: center;
}
.project-button{
    padding: 10px;
    background-color: rgb(203, 237, 12);
    color: #fff;
    border-radius: 5px;
}
.link-image {
    width: 280px;
    height: 280px;
    margin: 20px;
    border: 1px solid;
    border-radius: 20px;
}
.link-name {
    position: relative;
    right: 230px;
}
.link-image:hover{
    background-color: #fff;
    color: black;
    box-shadow: 10px 25px 50px rgb(85 85 85 / 20%);
    cursor: pointer;
}

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 110px 35%;
    transition: ease .40s;
    text-align: center;
    background-color:orchid;

}
.contact h2{
    font-size: 40px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.contact-container{
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-color: rgb(23, 206, 206);
}
.contact input{
    width: 300px;
    height: 30px;
    margin-top: 50px;
    border-radius: 10px;
    cursor: auto;
    border: none;
    padding: 15px;
}
.contact input:focus{
    outline: none;
}
.contact label{
    font-size: 20px;
    font-weight: 300px;
    position: relative;
    right: 10px;
}
.contact button{
    width: 300px;
    height: 30px;
    margin-top: 30px;
    background-color:gray;
    color: #fff;
    border: none;
    border-radius: 10px;
}
